/*main部分*/
.main{height:500px;background-color: #fff;border:2px solid #e3e3e3;}
.main-title{height:70px;border-bottom:2px solid #e3e3e3;}
.title-lf1{font-size:16px;color:#707070;margin-left:60px;margin-right:10px;line-height: 70px;}
/*注册信息main-infro部分*/
.main-infro{width:500px;height:310px;margin:0 auto;margin-top:30px;}
.infro-img{width:500px;height:50px;}
.infro-img i{display:inline-block;width:500px;height:50px;background: url(../images/allbgs.png) no-repeat;}
i.infro-img1{background-position: 10px -58px;}
i.infro-img2{background-position: 12px -118px;}
i.infro-img3{background-position: 20px -188px;}
i.infro-img4{background-position: 20px -254px;}
.infro-mgc{height:12px;margin:72px 0 10px 12px;color:#949494;text-align: center;}

/*找回密码部分*/
.content-landing{width:360px;height:190px;margin:0 auto;}
.content-landing li{height:56px;position:relative;margin:15px 0;}
.normal{width:72px;height: 20px;color:#333333;text-align: right;margin-top: 10px;}
.normal-input{width:240px;height:12px;padding:12px 0 12px 5px;border-radius: 4px;-webkit-border-radius: 4px; -moz-border-radius: 4px;border:1px solid #ddd;}
.content-landing li strong{width:23px;height:23px;display:block;background:url(../images/allbgs.png) no-repeat;position: absolute;top:6px;right:14px;}
.content-landing li .error{background-position:-10px 1px;}
.content-landing li .ok{background-position:-36px 1px;}
.content-landing li .tip{width: 240px;height: 16px;overflow: hidden;position: absolute;top: 42px;left: 80px;color:#666;}

.error-box{width:23px;height:23px;margin:6px 0 0 12px;overflow: hidden;}
.code-input{width:140px;height:12px;}
#verify_display button{width:110px;height:38px;position: absolute;top:0;right:10px;border-radius: 4px;-webkit-border-radius: 4px; -moz-border-radius: 4px;border:1px solid #ddd;}
.sub{width:145px;height:34px;cursor:pointer;font-size:16px;color:#fff;background: #FF4251;border:1px solid #FF4251;border-radius: 4px;-webkit-border-radius: 4px; -moz-border-radius: 4px;}

.sub:hover,.sub:active{opacity:0.9;filter:alpha(opacity=90);}
/*find-password2*/
.phone-text{width:400px;color:#5e5d48;border-radius: 4px;-webkit-border-radius: 4px; -moz-border-radius: 4px;border:1px solid #ddd;height: 32px;line-height: 32px;margin:70px 0 12px 50px;background: #fffedf;text-align: center;}
.phone-text span{color:#e17670;}

/*find-password3*/
.landing-margin{margin:50px 90px !important;}

/*find-password4*/
.tit1{position: relative;}
.tit1 i{width:21px;height:21px;background: url(../images/allbgs.png) no-repeat -102px -11px;position: absolute;top:28px;left:-26px;}
.main-infro .tit1{height:70px;line-height:78px;font-size:16px;color:#3a3a3a;margin-top: 15px;}
.main-infro .tit2{height:22px;line-height:22px;color:#707070;}
.botn-margin{padding-left: 140px;width:360px !important;}
.sub3{margin-top:40px !important;}
p.main-ft1{height: 60px;line-height: 60px;color:#707070;}
p.main-ft1 a{color:#ff464e;text-decoration: underline;}

