/*content-landing部分*/
.main-infro{width:810px;margin:0 auto;margin-top:30px;}
.content-landing{width:365px;height:450px;}

.content-landing li{height:56px;position:relative;margin:8px 0;}
.normal{width:60px;height: 20px;color:#333333;text-align: right;margin-top: 10px;}
.normal-input{width:240px;height:12px;padding:10px 0 10px 5px;border-radius: 4px;-webkit-border-radius: 4px; -moz-border-radius: 4px;border:1px solid #ddd;}
.content-landing li strong{width:23px;height:23px;display:block;background:url(../images/allbgs.png) no-repeat;position: absolute;top:4px;right:28px;}
.content-landing li .error{background-position:-10px 1px;}
.content-landing li .ok{background-position:-36px 1px;}
.content-landing li .tip{width: 240px;height: 16px;overflow: hidden;position: absolute;top: 40px;left: 70px;color:#666;}

.bg-sm span{display:inline-block;width:45px;height:14px;margin-right:10px;margin-bottom:-3px;}
.error-box{width:23px;height:23px;margin:6px 0 0 12px;overflow: hidden;}
.code-input{width:120px;height:12px;}
#verify_display button{width:110px;height:34px;position: absolute;top:0;right:58px;border:1px solid #ddd;border-radius: 4px;-webkit-border-radius: 4px; -moz-border-radius: 4px;}
.sub{width:245px;height:34px;cursor:pointer;font-size:16px;color:#fff;background: #FF4251;border:1px solid #FF4251;border-radius: 4px;-webkit-border-radius: 4px; -moz-border-radius: 4px;}
#gc_warn{margin-right:45px;padding-top:45px;}
.sub:hover,.sub:active{opacity:0.9;filter:alpha(opacity=90);}
.agree .ck{margin-right:5px;}
.agree a:hover,.agree a:active{color:#ff464e;text-decoration:underline;}

/*main-infro(right部分)*/
.infro-right{width:302px;}
.qq-wx{height:20px;margin-top:20px;padding-top:20px;border-top:3px solid #E5E5E5;position: relative;}
.qq-wx p{font-size:14px;margin-bottom:10px;}
.qq-wx a{display:inline-block;height:22px;width:22px;margin-right:2px;background:url(../images/allbgs.png) no-repeat;}
a.qq{background-position:-8px -25px;}
a.weixin{background-position:-34px -25px;}
a.weibo{background-position:-58px -25px;}